@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* Common Styling Start  */

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 38px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 16px;
  color: #444444;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.link-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #3bd99e;
  font-weight: 500;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
}

.border-clr {
  border-bottom: 3px solid #1af8ae;
  border-radius: 2px;
}

.text-clr {
  color: #1af8ae;
}
.strong {
  font-weight: 600;
}
/* Common Styling End  */

/* Banner Styling Start  */

.banner {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0)
    ),
    url("images/donation2.jpg") no-repeat;
  background-size: cover;
}

.banner {
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.banner p {
  color: #f5f5f5;
}

/* Banner Styling End  */

/* Donate Section Start  */
.donate {
  margin-top: 60px;
}
.donation-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}

.amount {
  width: 95px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
  font-weight: 700;
  color: #707070;
  background-color: #fafafa;
  border-radius: 5px;
}

.amount-200 {
  color: #1af8ae;
  background-color: #eefff8;
  border: 2px solid #1af8ae;
  border-radius: 5px;
}

.amount-form {
  width: 60%;
  margin: 20px auto 0;
  padding: 15px 0 0 0;
}

.amount-form input {
  width: 98%;
  padding: 7px 0;
  border-width: 0 0 1px 0;
  border-color: #b3b3b3;
  text-align: center;
  color: #b3b3b3;
  font-weight: 500;
}

/* Donate Section End  */

/* Donation Plan Start  */

.donate-plans {
  margin: 60px 0;
}

.plans {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin: 30px 0;
}

.plan {
  width: 30%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}

.food {
  background-color: #edfeff;
}

.shelter {
  background-color: #ffd6d6;
}

.education {
  background-color: #fff4d6;
}

/* Donation Plans Section End */

/* Events Section Start  */

.events {
  height: 750px;
  margin-bottom: 60px;
}

.event-flex {
  display: flex;
}

.event {
  width: 48%;
  text-align: left;
  padding: 15px;
}
.event img {
  width: 95%;
  height: 300px;
  border-radius: 5px;
}

.event i {
  color: #3bd99e;
}

.event-details {
  display: flex;
  width: 98%;
  margin-top: 20px;
  align-items: center;
}

.detail {
  width: 33.33%;
}

.water h2 {
  margin-bottom: 25px;
}

.campaign {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
}

/* Event Section End  */

/* Get Update Styling Start  */

.get-updates {
  height: 320px;
}

.email {
  width: 70%;
  margin: auto;
  background-color: #eefff8;
  padding: 30px 0 45px 0;
  border-radius: 6px;
}

.email input {
  width: 32%;
  padding: 12px;
  border: none;
  color: #333333;
  border-radius: 5px;
  background-color: #f3f3f3;
}

.email .link-btn {
  margin-left: -5px;
}

/* Get Update Styling End  */

/* Footer Styling Start  */

footer {
  background-color: black;
  padding: 30px;
}

footer h3 {
  font-family: "Lobster", cursive;
  color: #1af8ae;
  text-align: center;
}

/* Footer Styling End  */
